@import 'tailwindcss';

@font-face {
  font-family: 'ClashGrotesk';
  src: url('/fonts/ClashGrotesk-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'ClashGrotesk';
  src: url('/fonts/ClashGrotesk-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@theme {
  --font-sans: 'ClashGrotesk', sans-serif;
  --clr-text-blue: hsl(222, 54%, 28%);
  --clr-btn-primary: hsl(0, 0%, 100%);
  --clr-btn-easy: hsl(148, 74%, 53%);
  --clr-btn-medium: hsl(48, 100%, 51%);
  --clr-btn-hard: hsl(24, 90%, 51%);
  --clr-text-primary: hsla(30, 20%, 2%, 1);
  --clr-border: hsla(30, 20%, 2%, 1);
  --clr-overlay: hsla(0, 0%, 0%, 0.4);
  --clr-bg-card: hsla(242, 87%, 87%, 1);
  --clr-bg-card-hover: hsla(242, 87%, 82%, 1);
  --shadow: 3px 3px 0 0 #060504;
  --shadow-card: 0 0 0 0 #060504;
  --shadow-hover: 6px 5px 0 0 #060504;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-size-adjust: 0.52;
  color: var(--clr-text-primary);
  font-weight: 600;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img,
picture {
  max-width: 100%;
  display: block;
}

:target {
  scroll-margin-block: 5ex;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
